*{
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

nav{
	font-family: "Trebuchet MS", sans-serif;
	background-color: #ffffff;
	overflow: hidden;
}
nav a{
	color: #264653;
	display: block;
	margin: 14px 20px;
	text-decoration: none;
}
.menu_container{
	display: flex;
	flex-wrap: nowrap;
}
#meilogo{
	flex: 15%;
	display: block;
	height: 50px;
}
#menu_right{
	flex: 15%;
	padding: 14px 20px;
	text-align: right;
}

#res{
	background-color: #264653;
	color: white;
	padding: 80px;
	margin: 0;
}
#res_t{
	font-family: "Sacramento", cursive;
	text-align: center;
	font-size: 350%;
}
#res_p{
	font-family: "Trebuchet MS", sans-serif;
	text-align: center;
	font-size: 120%;
}

#project{
	color: #264653;
	font-family: "Trebuchet MS", sans-serif;
	padding: 20px 120px;
}
#project h1{
	text-align: center;
}
#project hr{
	margin-top: 20px;
	margin-bottom: 20px;
/*	margin-left: 100px;
	margin-right: 100px;*/

}

button{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
#button-container{
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-right: 100px;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	flex: 40%;
	font-family: "Trebuchet MS", sans-serif;
	background-color: transparent;
	color: #264653;
	cursor: pointer;
	padding: 18px;
	margin: 20px;
	width: 40%;
	border: 2px solid #264653;
	text-align: left;
	outline: none;
	transition-duration: 0.4s;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
	flex: 100%;
	background-color: #264653;
	color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: white;
	color: #264653;
	font-family: "Trebuchet MS", sans-serif;
	padding: 20px 120px;
	font-size: 150%
}
.content h2{
	padding: 10px;
	margin: 10px;
}
.content h3{
	padding: 10px;
	margin-left: 70px;
}
.content p{
	padding: 10px;
	margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 40%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.content img{
	display: block;
/*	margin-left: auto;
	margin-right: auto;*/
	width: 100%;
}
